<div  class="contactpage container-fluid" id="dotted-map">

  <div class="row" id="connectUs">
    <div class="col-md-1 col-sm-1"></div>
    <div class="col-md-3 col-sm-3"><b>CONTACT US</b></div>
  </div>
  <div class="row" style="padding-top:50px;">

    <div class="col-md-1 col-sm-1"></div>
    <div class="col-md-10 col-sm-10">
      <form action="" >
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class="col-md-12"><label for="name"><small><b>Name</b></small></label></div>
            <div class="col-md-12"><input type="text" class="form-control input" id="name"></div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="col-md-12"><label for="email"><small><b>Email ID</b></small></label></div>
            <div class="col-md-12"><input type="email" class="form-control input" id="email"></div>
          </div>
        </div><br/><br/>
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="col-md-12"><label for="textarea"><small><b>Message</b></small></label></div>
            <div class="col-md-12"><textarea name="" id="textarea"  class="form-control input" cols="30" rows="3"></textarea></div>
          </div>
        </div><br/>
        <div class="row">
          <div class="col-md-10 col-sm-10"></div>
          <div class="col-sm-2 col-md-2"><a href="#"><button type="button" id="Send" style="margin-left:58px;">Send</button></a></div>

        </div>
      </form>
    </div>
    <div class="col-md-1 col-sm-1"></div>

  </div>
</div>
