<div class="page2 container-fluid">

  <router-outlet></router-outlet>
  <div class="row">
    <div class="col-md-4 col-sm-4"></div>
    <div class="col-md-4 col-sm-4 text-center" id="page-heading"><b>What we do!!</b></div>
    <div class="col-md-4 col-sm-4"></div>
  </div>
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8" id="page2-para1">

      Growing expectations. Market-shaping AI. Self-optimizing systems. The post-digital age shows no signs of slowing down, and the need for new ideas powered by intelligent technologies has never been greater.

      But a vision for the future can't be realized without know-how. We partner with our clients to drive real innovation—the kind that turns an idea into an industry—helping them transform and grow their organizations.

    </div>
    <div class="col-sm-2"></div>
  </div>
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10"><img src="assets/dots.png" width="100%;" id="dots-img">
      <div class="row" id="blockchain">
        <div class="col-sm-2"></div>
        <div class="card col-sm-8" style="background-color: #E75A4C">
          <div class="card-body">
            <div class="card-title text-center"><b>Services We Offer</b></div>
            <div class="card-text text-center">

              We provide means to build your future ahead. We work on technologies based on HTML5, CSS3, AngularJS , Java, C#.Net, NodeJS, MongoDB, SQL.
            </div>
            <br/>
            <div class="col text-center">
              <a href="" class="col-md-3"></a>
              <a href="#" class="btn col-md-2" style="color:#484848;background-color: white;border-radius:34px;"><i class="fa fa-link"> </i>&nbsp; Link</a>
              <a href="" class="col-md-2"></a>
              <a href="" class="card-link col-md-2" style="color:black;">View more</a>
              <a href="" class="col-md-3"></a>
            </div>
          </div>
        </div>
        <div class="col-sm-2"></div>
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>
<div class="page2 container-fluid">
  <div class="row">
    <div class="col-md-4 col-sm-4"></div>
    <div class="col-md-4 col-sm-4 text-center" id="page-heading"><b>COMPANY JOURNAL</b></div>
    <div class="col-md-4 col-sm-4"></div>
  </div>
  <div class="row" style="margin-top:70px;">
    <div class="col-md-1 col-sm-1"></div>
    <div class="col-md-4 col-sm-4"><img src="assets/news-pic1.png" width="100%;" id="dots-img"></div>
    <div class="col-md-1 col-sm-1"></div>
    <div class="col-md-5  col-sm-5">
      <blockquote style="color:#B6B6B6"><small>ANY TECH NEWS</small></blockquote>
      <div>Pop Culture Has Got It All Wrong! - Tech Team</div>
      <div style="color:#B6B6B6">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
        and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
        leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with
        the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
        software like Aldus PageMaker including versions of Lorem Ipsum.
        <div class="text-right"><small><a href="#"  style="color: #6409B5"><b>READ MORE</b></a></small></div>
      </div>
    </div>
    <div class="col-md-1 col-sm-1"></div>
  </div>
  <div class="row" style="margin-top:70px;">
    <div class="col-md-1 col-sm-1"></div>
    <div class="col-md-5 col-sm-5">
      <blockquote></blockquote>
      <blockquote style="color:#B6B6B6"><small>PROVIDER</small></blockquote>
      <div>Apoorv Chandra : Understanding Company</div>
      <div style="color:#B6B6B6">
        Noratech is a fast growing technology firm with a proven track record of providing application development services, technology consulting and IT outsourcing solutions. We offer a wide array of business solutions and technology services that empower 100+ businesses across the globe. From web design and development to custom applications, our team works intelligently to deliver seamless & consistent services of the highest standard in the most cost-effective manner.

        <div class="text-right"><small><a href="#"  style="color: #6409B5"><b>READ MORE</b></a></small></div>
      </div>
    </div>
    <div class="col-md-1 col-sm-1"></div>
    <div class="col-md-4  col-sm-4"><img src="assets/news-pic1.png" width="100%;" id="dots-img"></div>
    <div class="col-md-1 col-sm-1"></div>
  </div>
  <div class="row" id="message">
    <div class="col-md-12 text-center" style="font-size: 22px;margin-top:50px;margin-bottom: 30px;">Apoorv Chandra,CEO</div>
    <div class="col-md-12 text-center" style="font-size: 14px;line-height: 30px;margin-bottom: 30px;">"Lorem Ipsum is simply dummy
      text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,<br>
      when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five
      centuries,<br> but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with
      the release of Letraset sheets containing Lorem Ipsum passages,<br> and more recently with desktop publishing software like Aldus
      PageMaker including versions of Lorem Ipsum."</div>
  </div>
</div>
