<div class="row m-0 mb-4">
  <div class="col-md-12">
 
  <mat-accordion class="example-headers-align">
    <div *ngFor="let c of courses|keyvalue; let i = start;">
      <mat-expansion-panel [expanded]="step === i" (opened)="setStep(i)" hideToggle>
        <mat-expansion-panel-header class="row m-0">
          <mat-panel-title class="col-md-4 coursename">
           {{c.value['name']}}
          </mat-panel-title>
          <mat-panel-description class="col-md-8">
            Course  decription   <span class="learnmore"> Learn more...</span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row m-0">
            <mat-panel-title class="col-md-2" style="font-family: open sans"><i style='font-size:16px' class='fas'>&#xf144;</i> &nbsp; &nbsp; 140 lectures</mat-panel-title>
            <mat-panel-title class="col-md-2" style="font-family: open sans"><i style='font-size:16px' class='far'>&#xf017;</i> &nbsp; &nbsp; 42 Hours </mat-panel-title>
            <mat-panel-title class="col-md-2" ><i style='font-size:16px' class='fas'>&#xf005;</i> &nbsp; &nbsp; 4.5 Rating </mat-panel-title>
            <mat-panel-title class="col-md-2" >Language: English</mat-panel-title>
            <mat-panel-title class="col-md-2" style="font-family: open sans"> Rs: {{c.value['price']}}</mat-panel-title>
        </div>
        <div class="row m-0">
            <mat-action-row  class="col-md-6">
              <mat-card class="card">
                <div class="row m-0">
                  <div class="col-md-12">
                     <p class="m-0 whatlearn">What you'll learn</p>
                  </div>
                  <div class="col-md-1">
                    <p class="m-0"><i style='font-size:24px' class='fas'>&#xf00c;</i></p>
                  </div>
                  <div class="col-md-11">
                    <p class="m-0">Learn to use Angular professionally, learning both Angular 7 and Angular 8!  and many more for first sentence !</p>
                  </div>
                  <div class="col-md-1">
                    <p class="m-0"><i style='font-size:24px' class='fas'>&#xf00c;</i></p>
                  </div>
                  <div class="col-md-11">
                    <p class="m-0">Learn to use Angular professionally, learning both Angular 7 and Angular 8!  and many more for second sentence !</p>
                  </div>
                  <div class="col-md-1">
                    <p class="m-0"><i style='font-size:24px' class='fas'>&#xf00c;</i></p>
                  </div>
                  <div class="col-md-11">
                    <p class="m-0">Learn to use Angular professionally, learning both Angular 7 and Angular 8!  and many more for third sentence !</p>
                  </div>
                </div>
              </mat-card>
            </mat-action-row>
            <mat-action-row  class="col-md-6">
              <mat-card  class="card">
                <div class="row m-0">
                  <div class="col-md-12">
                      <!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                          <ng-container matColumnDef="position">
                            <th mat-header-cell *matHeaderCellDef> No. </th>
                            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                          </ng-container>
                          <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> Course Content </th>
                            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                          </ng-container>
                      </table >   -->
                  </div>
                </div>    
              </mat-card>
                <!-- {{c.value['about']}} -->
            </mat-action-row>
        </div>
        <div class="row m-0">
            <div class="col-md-6">
              <div class="row m-0">
                  <div class="col-md-6 requirement">Requirements</div>
                  <div class="col-md-6">
                      <ul class="row m-0 required">
                        <li class="col-md-12">Basic Html</li>
                        <li class="col-md-12">Basic CSS</li>
                        <li class="col-md-12">Javascript</li>
                      </ul>
                  </div>
              </div>
            </div>
            <div class="col-md-6 Enroll"> 
              <button class="btn btn-primary">Enroll</button>
            </div>
        </div>
      </mat-expansion-panel>
    </div>
  </mat-accordion>
  </div>
</div>
