@import url(https://fonts.googleapis.com/css?family=Righteous);
.course-box{
    box-shadow:1px 1px 3px gray;
    border-radius:10px;
    padding:10px;
}
.readmore_col{
    background-color:#F7F7F5;
    font-size:13.5px;
    font-weight:600px;
}
.courseimg{
    width:116px;
    height:116px;
}
.whatlearn{
    font-weight: 800;
    font-size:20px;
    text-align: center;
    padding-bottom: 15px;
    text-decoration: underline;
}
table {
    width: 100%;
  }
.coursename {
    display: inline-block;
    color: black;
    font-family: 'Righteous', serif;
    font-size: 2em; 
    text-shadow: .03em .03em 0 hsla(230,40%,50%,1);
}
.coursename:hover{
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.5) 70%);
    -webkit-mask-size: 200%;
    animation: shine 3s infinite;
}
@-webkit-keyframes shine {
    from {
      -webkit-mask-position: 150%;
    }
    
    to {
      -webkit-mask-position: -50%;
    }
  }

  .courserow{
    box-shadow:1px 1px 3px lightgray;
    border:1px solid lightgray;
    border-radius:4px ;
    padding-top:35px;
    padding-bottom:35px;
  }
  .loop-col{
    margin-top:10px;
    margin-bottom:10px;
  }
  .loop-col:nth-child(odd) .courserow{
    background-color:rgba(245, 245, 245, 0.856);
  }
  .course-desc{
    border-right:1px solid lightgray;
  }
  thead{
    background-color:#292929;
    color:white;
    font-size: 1.25rem;
  }
