<!--  expansion panel-->
<mat-accordion class="example-headers-align">
  <div *ngFor="let c of courses|keyvalue; let i = start;">
    <mat-expansion-panel [expanded]="step === i" (opened)="setStep(i)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{c.value['name']}}
        </mat-panel-title>
        <mat-panel-description>

          Learn more

        </mat-panel-description>
      </mat-expansion-panel-header>


      <mat-panel-title> {{c.value['price']}}</mat-panel-title>
      <mat-action-row>
        {{c.value['about']}}

      </mat-action-row>
      <mat-action-row>
        <button mat-raised-button color="accent">Enroll</button>
      </mat-action-row>
    </mat-expansion-panel>
  </div>


</mat-accordion>

