<app-header></app-header>
<div class="center" style="text-align: center">
<mat-card >
  <mat-card-header>Register</mat-card-header>

    <mat-form-field class="example-full-width">
      <label>
        <input matInput placeholder="Name">
      </label>
    </mat-form-field><br>
    <mat-form-field class="example-full-width">
      <label>
        <input matInput placeholder="Password">
      </label>
    </mat-form-field><br>
    <mat-form-field class="example-full-width">
      <label>
        <input matInput placeholder="Confirm Password">
      </label>
    </mat-form-field><br>
    <mat-form-field class="example-full-width">
      <label>
        <input matInput placeholder="Address">
      </label>
    </mat-form-field><br>
    <mat-form-field class="example-full-width">
      <label>
        <input matInput placeholder="State">
      </label>
    </mat-form-field><br>
    <mat-form-field class="example-full-width">
      <label>
        <input matInput placeholder="Country">
      </label>
    </mat-form-field><br>
  <button mat-raised-button color="accent"></button>

</mat-card>
</div>
