<footer>
  <div class="col-md-12 text-center">
    <div class="row">
    <div class="col-md-4 d-flex justify-content-center align-items-center">
      <h1 class="noratech-title">Noratech</h1>
    </div>
    <div class="col-md-4">
      <h3 class="foot-head">Our Services</h3>
      <hr class="footer-hr">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
            <p>Services</p>
            <p>Products</p>
            <p>Training</p>
          </div>
          <div class="col-md-6">
            <p>Contact Us</p>
            <p>Career</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3 class="foot-head">Follow Us</h3>
      <hr class="footer-hr">
      <div class="col-md-12">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <i class="fab fa-facebook follow-icon"></i>
            <i class="fab fa-twitter-square follow-icon"></i>
            <i class="fab fa-instagram follow-icon"></i>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
  <hr class="footer-hr">
  <div class="col-md-12 text-center">
    <h5>Copyright &copy; 2019 All rights reserved | <span class="nora-title">Noratech Private Limited</span></h5>
  </div>
</footer>