<div class="row m-0 sidepadding">
  <div class="col-md-12 p-0">
    <div class="row m-0">
      <div class="col-md-3 col-sm-12">
        <div class="row m-0 footerInfoHead mb-4">
          <div class="col-md-12 p-0">
              NoraTech
          </div>
          <div class="col-md-12 p-0 footerinfoPara">

          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-12 extramargin">
        <div class="row m-0">
          <div class="col-md-12 footerlinkHead">

          </div>
          <hr class="hrstyle col-md-12 p-0">
          <div class="col-md-12 col-sm-4 col footerLinks">
              > &nbsp; Contact Us
          </div>
          <div class="col-md-12 col-sm-4 col footerLinks">
              > &nbsp; Trainings
          </div>
          <div class="col-md-12 col-sm-4 col footerLinks">
              > &nbsp; Services
          </div>
        </div>
      </div>

      <div class="col-md-2 col-sm-12 extramargin">
        <div class="row m-0">
          <div class="col-md-12 footerlinkHead">

          </div>
          <hr class="hrstyle col-md-12 p-0">
          <div class="col-md-12 col-sm-4 col footerLinks">
              > &nbsp;Products
          </div>
          <div class="col-md-12 col-sm-4 col footerLinks">
              > &nbsp;Career
          </div>
         <!-- <div class="col-md-12 col-sm-4 col footerLinks">
              > &nbsp;NoraTech
          </div>-->
        </div>
      </div>
     <!-- <div class="col-md-2 col-sm-12 extramargin">
        <div class="row m-0">
          <div class="col-md-12 footerlinkHead">
              NoraTech
          </div>
          <hr class="hrstyle col-md-12 p-0">
          <div class="col-md-12 col-sm-4 col footerLinks">
              > &nbsp;NoraTech
          </div>
          <div class="col-md-12 col-sm-4 col footerLinks">
              > &nbsp;NoraTech
          </div>
          <div class="col-md-12 col-sm-4 col footerLinks">
              > &nbsp;NoraTech
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-12 extramargin">
        <div class="row m-0">
          <div class="col-md-12 footerlinkHead">
              NoraTech
          </div>
          <hr class="hrstyle col-md-12 p-0">
          <div class="col-md-12 col-sm-4 col footerLinks">
              > &nbsp;NoraTech
          </div>
          <div class="col-md-12 col-sm-4 col footerLinks">
              > &nbsp;NoraTech
          </div>
          <div class="col-md-12 col-sm-4 col footerLinks">
              > &nbsp;NoraTech
          </div>
        </div>
      </div>-->
      <div class="col-md-1 col-sm-12">
      </div>
    </div>
    <hr class="hrstyle2">
    <div class="row m-0 copyrightblock mb-4">
      <div class="col-md-8 col-sm-12">
        <div class="row m-0">
          Copyright &copy; 2019 Noratech Private Limited.
        </div>
      </div>
      <div class="col-md-4 col-sm-12 text-right">
          <i class='fab fa-facebook-f pl-2 pr-2' style='font-size:18px'></i>
          <i class='fab fa-twitter pl-2 pr-2' style='font-size:18px'></i>
          <i class='fab fa-instagram pl-2 pr-2' style='font-size:18px'></i>
      </div>
    </div>
  </div>
</div>
