<app-header></app-header>
<div class="fill">


  <mat-horizontal-stepper #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Fill your details</ng-template>
        <mat-form-field>
          <input matInput placeholder="First name" formControlName="firstName" required>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="Last name" formControlName="lastName" required>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="Course Selected" formControlName="registeredFor" required readonly>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="Email" formControlName="contactEmail" required>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="Amount Paid" formControlName="amountPaid" required readonly>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="Contact Number" formControlName="contactNumber" required>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="Contact Number" formControlName="contactNumber" required>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="Contact Number" formControlName="contactNumber" required>
        </mat-form-field>
        <br>
        <div>
          <button mat-button matStepperNext (click)="getOrderId()">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" [editable]="false">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Preview</ng-template>
        <mat-form-field>
          <input matInput placeholder="just some fields" formControlName="secondCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Edit</button>
          <button mat-button matStepperNext>Proceed</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Payment</ng-template>
      <mat-label>Amount</mat-label>&nbsp;&nbsp;&nbsp;
      <mat-label readonly>{{setPrice()}}</mat-label>&nbsp;<br>
      <mat-label>Covenience Charges</mat-label>&nbsp;&nbsp;&nbsp;
            <mat-label readonly>{{convenienceCharges}}</mat-label>&nbsp;<br>
      <mat-label>Total Amount to be Paid</mat-label>&nbsp;&nbsp;&nbsp;&nbsp;
            <mat-label readonly>{{amountSummingConenienceFees}}</mat-label>
      <div>
        <h1>Choose Payment Mode</h1>

        <mat-radio-group [formControl]='paymentModeCheckbox'>
          <ul>
            <li>
              Cards: &nbsp;&nbsp;&nbsp;
              <mat-radio-button value="2">National</mat-radio-button>&nbsp;&nbsp;
              <mat-radio-button value="3">International</mat-radio-button>
            </li>
            <li>Net Banking &nbsp;&nbsp;&nbsp;

              <mat-radio-button value="2">National</mat-radio-button>&nbsp;&nbsp;
              <mat-radio-button value="3">International</mat-radio-button>
            </li>


            <li>
              <mat-radio-button value="3">EMI</mat-radio-button>
            </li>
            <li>
              <mat-radio-button value="2">UPI</mat-radio-button>
            </li>

          </ul>
        </mat-radio-group>
      </div>
      <div>
        <mat-error *ngIf="modeSelected"></mat-error>
        <button mat-button id="rzp-button1" (click)="openCheckout()" >Pay</button>
        <script type="text/javascript" src="https://checkout.razorpay.com/v1/razorpay.js"></script>
        <script type="text/javascript" src="../../../../razor.js"></script>


        <button mat-button matStepperPrevious (click)="decline()">Decline</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>

</div>

