<div class="row m-0 backcolor">
  <div class="col-md-12">
      <div class="center" style="text-align: center">
        <mat-card>
          <mat-card-title>Login</mat-card-title>
          <mat-card-content>
          <mat-form-field>
            <label>
              <input matInput placeholder="Email/Username">
            </label>
          </mat-form-field><br>
          <mat-form-field>
            <label>
              <input matInput placeholder="Password">
            </label>
          </mat-form-field>
            <br>
          <button mat-raised-button color="warn">LogIn</button>
          </mat-card-content>
        <mat-card-subtitle>Not a User??<a routerLink="/register">Sign Up</a> </mat-card-subtitle>
        </mat-card>
      </div>
  </div>
</div>




